body {

    padding: 0;

    margin: 0;

    background-color: #161515;

}

#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card {

    background-color: rgba(255, 255, 255, 0.3);

    padding: 40px;

    border-radius: 5px;

    box-shadow: #e1e1e1;

    width:280px;
    

}

.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #fff;

}

.card-header::after {

    content: "";

    width: 70px;

    height: 1px;

    background-color: #fff;

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

.card-content label {

    color: #fff;

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border-radius: 10px;

    border-bottom: 1px solid #e1e1e1;

    outline: none;

    color: #d1c9c9;

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #c5b9bc;

    border-radius:2px;

    color:#0f0f0f;

    margin: 10px 0;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: #ffffff;

    text-decoration: none;

}